In [6]:
#sum of numbers from 0 to N

def sum1(n):
    
    return (n*(n+1))/2

In [7]:
sum1(10)

55.0

In [8]:
%timeit sum1(100)

207 ns ± 20.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

#Big O of built-in Lists and Dictonaries
Common operations performed on Lists(Dynamic Arrays) are Indexing and assigning to an index position- which run in a constant time, O(1)

In [11]:
def method1():
     l = list(range(10000))

In [13]:
%timeit method1()

202 µs ± 57.7 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [14]:
#Dictonaries are harsh tables with keys and values

d = {'k1':1, 'k2':2}

In [18]:
d['k1']

1

O(1)- constant, log n -logarithmic, n - linear, n^2- quadratic, n^3 - cubic, n log n - log linear, 2^n - exponential

# Big O examples

# O(1) Constant

In [21]:
def func_contant(values):
    
    print (values[0]) #print first item in a list
    
func_contant([1,2,3,4])

4

# O(n) Linear

In [23]:
def func_linear(lst):
    
    for val in lst:
        print (val)
        
func_linear([1,2,3,4])

1
2
3
4

# O(n^2) Quadratic

In [24]:
def func_quad(lst):
    for item_1 in lst:
        for item_2 in lst:
            print(item_1,item_2)
            
lst = [1,2,3,4]

func_quad(lst)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [25]:
def print_once(lst):
    for val in lst:
        print(val)
        
print_once(lst)

1
2
3
4

In [26]:
def print_3(lst):
    for val in lst:
        print(val)
        
    for val in lst:
        print(val)
        
    for val in lst:
        print(val)
        
print_3(lst)

1
2
3
4
1
2
3
4
1
2
3
4

In [40]:
def comp(lst):
    
    print (lst[0])
    
    midpoint = len(lst)//2
    
    for val in lst[:midpoint]:
            print(val)
        
    for x in range(10):
        print('number')

In [35]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [41]:
comp(lst)

1
1
2
3
4
5
number
number
number
number
number
number
number
number
number
number

In [42]:
def matcher(lst,match):
    for item in lst:
        if item == match:
            return True
    return False

lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
matcher(lst,1)

True

In [44]:
matcher(lst, 15)

False

In [47]:
def printer(n=10):
    for x in range(n):
        print('Hello World')
        
printer()

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [48]:
def create_list(n):
    new_list = []
    
    for num in range(n):
        new_list.append('new')
        
    return new_list
print(create_list(5))

['new', 'new', 'new', 'new', 'new']