Methods

In [1]:
mylist = [1,2,3]

mylist.append(4)

In [2]:
mylist

[1, 2, 3, 4]

In [3]:
mylist.pop()

4

In [4]:
mylist

[1, 2, 3]

In [5]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

Functions

In [6]:
#def keyword

def say_hello():
    print('hello')

In [7]:
say_hello()

hello

In [8]:
say_hello

In [12]:
def say_hello(name):
    print(f'Hello {name}')

In [13]:
say_hello('Jelly')

Hello Jelly

In [14]:
#return

def add_num(num1,num2):
    return num1+num2

In [16]:
result = add_num(1,2)

In [17]:
result

3

In [18]:
def print_result(a,b):
    print(a+b)

In [19]:
def return_result(a,b):#return will assign the output to a variable unlike print which is nonetype
    return a+b

In [21]:
res = print_result(1,2)

3

In [22]:
res

In [23]:
res = return_result(1,2)

In [24]:
res

3

In [25]:
def sum_nums(num1,num2):
    return num1+num2

In [26]:
sum_nums(10,20)

30

In [27]:
sum_nums('10','20')

'1020'

In [29]:
type(sum_nums)

function

In [30]:
def even_check(number):
    result= number % 2 == 0
    return result

In [31]:
even_check(21)

False

In [32]:
even_check(40)

True

In [37]:
# return true if any nuber is even inside a list

def check_even_list(num_list):
    
    for num in num_list:
        if num % 2 == 0:
            return True
        else:
            pass
   
    return False

In [38]:
check_even_list([2,4,56,7,8,9])

True

In [40]:
check_even_list([1,1,1])

False

In [45]:
#return all the even numbers in a list
def even_list(num_list):
    
    even_numbers = [] #placeholder variables
    
    for num in num_list:
        if num % 2==0:
            even_numbers.append(num)
        else:
            pass
    return even_numbers

In [46]:
even_list([1,2,3,4,5,6])

[2, 4, 6]

In [47]:
#functions and tuple unpacking

sp = [('Appl',200),('Goog',400),('Msft',300)]

In [48]:
for item in sp:
    print(item)

('Appl', 200)
('Goog', 400)
('Msft', 300)

In [49]:
for t,p in sp:
    print(p+(0.1*p))

220.0
440.0
330.0

In [50]:
wh = [('Abby',100),('Billy', 400),('Cassy',600)]

In [54]:
def employee_check(wh):
    
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in wh:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    return(employee_of_month, current_max)

In [55]:
employee_check(wh)

('Cassy', 600)

In [56]:
res = employee_check(wh)

In [57]:
res

('Cassy', 600)

In [58]:
(name, hours) = res

In [59]:
name

'Cassy'

In [60]:
hours

600

In [61]:
example = [1,2,3,4,5,6,7]

from random import shuffle

In [67]:
shuffle(example)

In [68]:
example

[5, 2, 3, 6, 4, 1, 7]

In [69]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [70]:
result = shuffle_list(example)

In [71]:
result

[5, 1, 3, 4, 6, 2, 7]

In [72]:
mylist= [' ','o',' ']

In [73]:
shuffle_list(mylist)

['o', ' ', ' ']

In [74]:
def player_guess():
    
    guess = ''
   
    while guess not in ['0','1','2']:
        guess = input('pick a number: 0, 1or 2')
        
    return int(guess)

In [75]:
player_guess()

pick a number: 0, 1or 22

2

In [76]:
player_guess()

pick a number: 0, 1or 21

1

In [77]:
player_guess()

pick a number: 0, 1or 28
pick a number: 0, 1or 21

1

In [78]:
def check_guess(mylist, guess):
    if mylist[guess] == '0':
        print("correct")
    else:
        print("wrong")
        print(mylist)

In [79]:
# initial list
mylist = [' ','0',' ']

#shuffle list
mixedup_list = shuffle_list(mylist)

#userguess
guess = player_guess()

#check guess
check_guess(mixedup_list, guess)

pick a number: 0, 1or 25
pick a number: 0, 1or 20
wrong
[' ', ' ', '0']

In [80]:
#args and kwargs- arguments and keyword arguments

def myfunc(a,b):
    #return 5% of the sum of a and b
    return sum((a,b))* 0.05

In [81]:
myfunc(40,60)

5.0

In [82]:
def myfunc(*args):#pass any number of args which returns back a tuple
    return sum(args) * 0.05

In [83]:
myfunc(40,60,100)

10.0

In [89]:
def myfunc(**kwargs):#returns a dictonary 
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('no fruit found')

In [90]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [93]:
def myfunc(*args, **kwargs):
    print(args, kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [94]:
myfunc(10,20,30, fruit = 'orange', food ='eggs', animal ='dog')

(10, 20, 30) {'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [107]:
def myfunc(*args):
    mylist = []
    for num in args:
        if num %2 == 0:
            mylist.append(num)
        else:
            pass
    return mylist

In [108]:
myfunc(1,2,3,4)

[2, 4]

In [146]:
def myfunc(str):
    newstr = ''
    for i, item in enumerate(str):
        if i%2 == 0:
            newstr += item.lower()
        else:
            newstr += item.upper()
    return newstr

In [147]:
myfunc('Sahithi')

'sAhItHi'

In [129]:
2%2

0

In [145]:
3%2

1