Comparison operators

In [1]:
2 ==2

True

In [2]:
1==1 or 2==1

True

In [3]:
not (1==1)

False

Python Statements

In [5]:
# if elif else

if 3>2:
    print("true")

true

In [7]:
# for loop

mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [9]:
for num in mylist:
    #check for even
    if num %2 == 0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [10]:
sumlist = 0

for num in mylist:
    sumlist = sumlist+num
    
print(sumlist)

55

In [11]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [12]:
for _ in 'Hello World':
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [13]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [14]:
mylist = [(1,2),(2,3),(5,6),(7,8)]

len(mylist)

4

In [15]:
for item in mylist:
    print(item)

(1, 2)
(2, 3)
(5, 6)
(7, 8)

In [16]:
for a,b in mylist:   ###tuple unpacking 
    print(a)
    print(b)

1
2
2
3
5
6
7
8

In [17]:
mylist = [(1,2,3),(5,6,7)]

for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)

In [18]:
for a,b,c in mylist:
    print(b)

2
6

In [19]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:    #default iterate through keys
    print(item)

k1
k2
k3

In [21]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [22]:
for key, value in d.items():
    print(value)

1
2
3

In [23]:
for value in d.values():##unordered
    print(value)

1
2
3

In [25]:
#while loop

x = 0

while x<5:
    print(f'current value of x is {x}')
    x = x+1 #x+=1
else:
    print("x is not less than 5")

current value of x is 0
current value of x is 1
current value of x is 2
current value of x is 3
current value of x is 4
x is not less than 5

In [27]:
# break, continue, pass
x = [1,2,3]

for item in x:
    #comment
    pass # does nothing and just used to avoid syntax error
print("end of script")

end of script

In [29]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue #goes to the top of the closest enclosing loop
    print(letter)

S
m
m
y

In [30]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [34]:
x = 0

while x<5:
    if x == 2:
        break  # breaks out of the current closest enclosing loop
    print(x)
    x+=1

0
1

In [35]:
#useful operators

mylist = [1,2,3]

for num in range(10): #0 to 9 not including 10
    print(num)

0
1
2
3
4
5
6
7
8
9

In [36]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [37]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [39]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [40]:
word = 'abcde'

for item in enumerate(word): ##this enumerate operator gives the index values
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [41]:
l1 = [1,2,3]
l2 = ['a','b','c']

zip(l1,l2)

In [42]:
for item in zip(l1,l2):# zips two items together in 2 lists and pairs them together as tuples
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [43]:
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [44]:
'x' in [1,2,3]

False

In [45]:
'x'in ['x','y']

True

In [47]:
'a' in 'a world'

True

In [48]:
'mykey' in {'mykey':345}

True

In [49]:
mylist = [10,20,30,40,50,60]

min(mylist)

10

In [50]:
max(mylist)

60

In [51]:
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9]

shuffle(mylist) #inplace function when assign to a variable that will be none type like sort

In [52]:
mylist

[8, 2, 1, 5, 6, 9, 7, 3, 4]

In [53]:
from random import randint

In [54]:
randint(0,100)#random integer

64

In [55]:
mynum = randint(0,10)

In [56]:
mynum

8

In [57]:
input('Enter your value:')

Enter your value:50

'50'

In [58]:
result = input('What is your name')

What is your nameSahithi

In [59]:
result

'Sahithi'

In [60]:
type(result)

str

change the type of result like float(result)

In [61]:
#list comprehension

mystr ='hello'

mylist = []

for letter in mystr:
    mylist.append(letter)

In [62]:
mylist

['h', 'e', 'l', 'l', 'o']

In [63]:
mylist = [letter for letter in mystr]

In [64]:
mylist

['h', 'e', 'l', 'l', 'o']

In [65]:
mylist = [x for x in 'word']

In [66]:
mylist

['w', 'o', 'r', 'd']

In [67]:
mylist = [x for x in range(0,11)]

In [68]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
mylist = [num**2 for num in range(0,11)]

In [70]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
mylist = [x for x in range(0,11) if x%2==0]

In [72]:
mylist

[0, 2, 4, 6, 8, 10]

In [73]:
#if else inside list comprehension

res = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [74]:
res

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [77]:
#nested loop

mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [78]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [79]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [80]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [81]:
###test

str = 'Print only the words that start with s in this sentence'

for word in str.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [83]:
for num in range(0,11):
    if num%2 == 0:
        print(num)

0
2
4
6
8
10

In [84]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [94]:
mylist = [x for x in range(0,50) if x%3 == 0]

In [95]:
mylist

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [96]:
st = 'Print every word in this sentence that has an even number of letters'

for word in st.split():
    if len(word) %2 == 0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [100]:
for num in range(1, 101):
    if num%3 == 0 and num%5 == 0:
        print("FizzBuzz") 
    elif num%5 == 0:
        print("Buzz")
    elif num%3 == 0:
        print("Fizz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [103]:
st = 'Create a list of the first letters of every word in the string'

mylist = [x[0] for x in st.split()]

In [104]:
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']